{% extends "wrapper.html" %}

{% block content %}

<h2>Section Layout List</h2>

{% if section_layouts.count %}

<p>There are {{ section_layouts.count|escape }} section layouts.</p>

<table class="list striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th class="thin">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for layout in section_layouts %}
    <tr>
      <td>
        <a href="edit.html?key={{ layout.key|urlencode }}">{{ layout.title|escape }}</a>
      </td>
      <td>
        {{ layout.description|escape }}
      </td>
      <td class="c">
        <a href="del.html?key={{ layout.key|urlencode }}"><img src="/s/admin/i/cancel.png" /></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>There are no section layouts.</p>

{% endif %}

{% endblock %}
