{% extends "wrapper.html" %}

{% block content %}
  <h2>New Comments</h2>

  <p>There {{ comments|length|pluralize:"is,are" }} {{ more|yesno:"more than," }} {{ comments|length|escape }} comment{{ comments|length|pluralize }} awaiting moderation.</p>

  <form action="del-all.html" method="post">
    <p>Actions: <input type="submit" value="Delete" /></p>
  <table class="list striped">
    <thead>
      <tr>
        <th class="c"><input class="select-all" type="checkbox" /></th>
        <th>Info</th>
        <th>Page / Comment</th>
        <th class="thin">Approve</th>
        <th class="thin">Reject</th>
        <th class="thin">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in comments %}
      <tr>
        <td class="c">
          <input type="checkbox" class="keys" name="keys" value="{{ comment.key|escape }}" />
        </td>
        <td>
          <strong>{{ comment.name|escape }} &lt;{{ comment.email|escape }}&gt;</strong>
          <br />
          {{ comment.website|escape }}
          <br />
          {{ comment.inserted|escape }}
        </td>
        <td>
          <a href="{{ comment.node.section.path|escape }}{{ comment.node.name|escape }}.html">{{ comment.node.section.path|escape }}{{ comment.node.name|escape }}.html</a>
          <br />
          {{ comment.comment_html }}
        </td>
        <td class="c">
          <a href="?status=approve;key={{ comment.key|urlencode }}"><img title="Accept Comment" src="/s/i/accept.png" /></a>
        </td>
        <td class="c">
          <a href="?status=reject;key={{ comment.key|urlencode }}"><img title="Reject Comment" src="/s/i/exclamation.png" /></a>
        </td>
        <td class="c">
          <a href="del.html?key={{ comment.key|urlencode }}"><img title="Delete Comment" src="/s/i/cancel.png" /></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>

{% endblock %}
