{% extends "wrapper.html" %}

{% block content %}

<h2>Credits</h2>

<ul>
  <li>Written by <a href="http://www.chilts.org/blog/">Andrew Chilton</a></li>
  <li><a href="http://www.chilts.org/project/lollysite/">Lollysite Project Homepage</a></li>
  <li><a href="http://www.gitorious.org/lollysite/">Source Code</a></li>
  <li>License <a href="http://www.gnu.org/licenses/agpl.html">AGPL v3</a></li>
  <li>Contact <a href="mailto:andy@chilts.org">andy@chilts.org</a></li>
</ul>

<h2>Sites Using Lollysite</h2>

<ul>
  <li><a href="http://www.chilts.org/">chilts.org</a> - Andrew Chilton's Personal Site</li>
  <li><a href="http://kohacon.appspot.com/">KohaCon</a> - site for the Koha Conference 2010</li>
</ul>

<p>
  Please email me at <a href="mailto:andy@chilts.org">andy@chilts.org</a>
  and let me know of your site using
  <a href="http://www.chilts.org/project/lollysite/">Lollysite</a>.
</p>

<h2>Other Lollysite Links</h2>

<ul>
  <li><a href="https://www.ohloh.net/p/lollysite/">Lollysite on Ohloh</a></li>
  <li><a href="http://freshmeat.net/projects/lollysite">Lollysite on FreshMeat</a></li>
</ul>

<h2>Thanks to the Following</h2>

<ul>
  <li>
    <a href="http://ejohn.org/">John Resig</a> for <a href="http://jquery.com/">jQuery</a>.
  </li>
  <li>
    <a href="http://bitbucket.org/moraes/appengine/">Rodrigo Moreas</a> for <a href="#">properties.py</a>.
  </li>
  <li>
    <a href="http://www.opensource.org/">ActiveState Corp</a>
    for <a href="http://www.opensource.org/licenses/mit-license.php">the
    markdown parser.</a>.
  </li>
  <li>
    <a href="http://www.freecsstemplates.org/">FreeCssTemplates</a> for
    the <a href="http://www.freecsstemplates.org/preview/verticals">Verticals</a>
    theme (license=).
  </li>
  <li>
    <a href="http://www.famfamfam.com/">FamFamFam</a> for
    the <a href="http://www.famfamfam.com/lab/icons/silk/">silk icons</a> (license=).
  </li>
  <li>
    <a href="http://960.gs/">960.gs</a> for
    the <a href="http://github.com/nathansmith/960-grid-system">960 CSS Grid system</a> (license=).
  </li>
</ul>

<img style="float:right;" src="http://www.gnu.org/graphics/agplv3-88x31.png" title="AGPLv3" />
<h2>License</h2>

<p>
  Lollysite is a website builder and blogging platform for Google App Engine.
</p>

<p>
  Copyright (c) 2009, 2010 Andrew Chilton <andy@chilts.org>.
</p>

<p>
  Lollysite is free software: you can redistribute it and/or modify it under
  the terms of the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero
  General Public License</a> as published by
  the <a href="http://www.fsf.org/">Free Software Foundation</a>, either
  version 3 of the License, or (at your option) any later version.
</p>

<p>
  Lollysite is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See
  the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public
  License</a> for more details.
</p>

<p>
  You should have received a copy of
  the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public
  License</a> along with Lollysite.  If not,
  see <a href="http://www.gnu.org/licenses/">licenses</a>.
</p>

{% endblock %}
