{% extends "wrapper.html" %}

{% block content %}

<h2>Credits</h2>

<ul>
  <li>Written by <a href="http://www.chilts.org/blog/">Andrew Chilton</a></li>
  <li><a href="http://www.chilts.org/project/lollysite/">Lollysite Project Homepage</a></li>
  <li><a href="http://www.gitorious.org/lollysite/">Source Code</a></li>
  <li>License <a href="http://www.gnu.org/licenses/agpl.html">AGPL v3</a></li>
  <li>Contact <a href="mailto:andychilton@gmail.com">andychilton@gmail.com</a></li>
  <li>
    Icons by <a href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam</a> (used under
    <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>)
  </li>
</ul>

<h2>Sites Using Lollysite</h2>

<ul>
  <li><a href="http://www.chilts.org/">chilts.org</a> - Andrew Chilton's Personal Site</li>
  <li><a href="http://kohacon.appspot.com/">KohaCon</a> - site for the Koha Conference 2010</li>
</ul>

<p>
  Please email me at <strong>andychilton@gmail.com</strong> and let me know of
  your site using
  <a href="http://www.chilts.org/project/lollysite/">Lollysite</a>.
</p>

{% endblock %}
