{% extends "wrapper.html" %}

{% block content %}

<h2>File List</h2>

{% if files.count %}

<p>There are {{ files.count|escape }} files.</p>

<table class="list striped">
  <thead>
    <tr>
      <th class="thin">Edit</th>
      <th>Title</th>
      <th>Filename</th>
      <th>Blob Info</th>
      <th class="thin">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
    <tr>
      <td class="c">
        <a href="edit.html?key={{ file.key|urlencode }}"><img src="/s/i/layout_edit.png" /></a>
      </td>
      <td>
        <a href="edit.html?key={{ file.key|urlencode }}">{{ file.title|escape }}</a>
      </td>
      <td>
  {% if file.blob %}
        {{ file.filename|escape }}
        (<a href="/asset/file/{{ file.filename|escape }}">Download File</a>)
  {% else %}
        no file attached
  {% endif %}
      </td>
      <td>
  {% if file.blob %}
        {{ file.blob.content_type|escape }}, {{ file.blob.size|escape }} bytes
  {% else %}
        -
  {% endif %}
      </td>
      <td class="c">
        <a href="del.html?key={{ file.key|urlencode }}"><img src="/s/i/cancel.png" /></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>There are no files.</p>

{% endif %}

{% endblock %}
