{% extends "wrapper.html" %}

{% block content %}

<h2>Remove Image?</h2>

<p><a href=".">&laquo;&laquo; Back to Image List</a></p>

{% include 'msg.html' %}

<form method="post" action="">
  <input type="hidden" name="key" value="{{ item.key|urlencode }}">

  <table class="edit">
    <tbody>

      <tr>
        <th>Title:</th>
        <td>{{ item.title|escape }}</td>
      </tr>

      <tr>
        <th>Caption:</th>
        <td>{{ item.caption|escape }}</td>
      </tr>

      <tr>
        <th>Credit Who:</th>
        <td>{{ item.credit_who|escape }}</td>
      </tr>

      <tr>
        <th>Credit Link:</th>
        <td>{{ item.credit_link|escape }}</td>
      </tr>

      <tr>
        <th>Filename:</th>
        <td>{{ item.blob.filename|escape }}</td>
      </tr>

      <tr>
        <th>Size:</th>
        <td>{{ item.blob.size|escape }} byte{{ item.blob.size|pluralize }}</td>
      </tr>

      <tr>
        <th>Content Type:</th>
        <td>{{ item.blob.content_type|escape }}</td>
      </tr>

      <tr>
        <th>Label:</th>
        <td>{{ item.label_raw|escape }}</td>
      </tr>

    </tbody>
  </table>
  <input type="submit" value="Delete Image" />
</form>

{% endblock %}
