{% extends "wrapper.html" %}

{% block content %}

{% if item %}
<h2>Edit {{type}}</h2>
{% else %}
<h2>New {{type}}</h2>
{% endif %}

<p><a href=".">&laquo;&laquo; Back to Image List</a></p>

<form method="post" action="" enctype="multipart/form-data">
{% if item %}
  <input type="hidden" name="key" value="{{ item.key|urlencode }}">
{% endif %}

  <table class="edit">
    <tbody>

      <tr>
        <th><label for="id_section">Section:</label></th>
        <td>
          <select name="section" id="id_section">
            <option value="" selected="selected">---------</option>
{% for section in sections %}
            <option value="{{ section.key|urlencode }}">{{ section.path|escape }}</option>
{% endfor %}
          </select>
        </td>
      </tr>

      <tr>
        <th><label for="id_name">Name:</label></th>
        <td><input type="text" name="name" id="id_name" value="{{ item.name|escape }}" /></td>
      </tr>

      <tr>
        <th><label for="id_title">Title:</label></th>
        <td><input type="text" name="title" id="id_title" value="{{ item.title|escape }}" /></td>
      </tr>

      <tr>
        <th><label for="id_mimetype">Image:</label></th>
        <td><input type="file" name="image" id="id_image" /></td>
      </tr>

      <tr>
        <th><label for="id_caption">Caption:</label></th>
        <td><textarea name="caption" id="id_caption">{{ item.caption|escape }}</textarea></td>
      </tr>

      <tr>
        <th><label for="id_credit">Credit:</label></th>
        <td><textarea name="credit" id="id_credit">{{ item.credit|escape }}</textarea></td>
      </tr>

      <tr>
        <th><label for="id_credit_link">Credit Link:</label></th>
        <td><input type="text" name="credit_link" id="id_credit_link" value="{{ item.credit_link|escape }}" /></td>
      </tr>

      <tr>
        <th><label for="id_label">Label:</label></th>
        <td><textarea name="label" id="id_label">{{ item.label|escape }}</textarea></td>
      </tr>

    </tbody>
  </table>
  <input type="submit" />
</form>

{% endblock %}
