{% extends "wrapper.html" %}

{% block content %}

{% if item %}
<h2>Edit {{type}}</h2>
{% else %}
<h2>New {{type}}</h2>
{% endif %}

<p><a href=".">&laquo;&laquo; Back to Page List</a></p>

{% include 'msg.html' %}

<form method="post" action="">
{% if item %}
  <input type="hidden" name="key" value="{{ item.key|urlencode }}">
{% endif %}

  <table class="edit">
    <tbody>

      <tr>
        <th><label for="id_section">Section:</label></th>
        <td>
          <select id="id_section" name="section">
            <option value="">Select...</option>
{% for section in sections %}
            <option value="{{ section.key|escape }}"{% ifequal section.key item.section.key %} selected="selected"{% endifequal %}>{{ section.path|escape }}</option>
{% endfor %}
          </select>
        </td>
      </tr>

      <tr>
        <th><label for="id_name">Name:</label></th>
        <td><input type="text" id="id_name" name="name" value="{{ item.name|escape }}" /></td>
      </tr>

      <tr>
        <th><label for="id_title">Title:</label></th>
        <td><input type="text" id="id_title" name="title" value="{{ item.title|escape }}"/></td>
      </tr>

      <tr>
        <th><label for="id_content">Content:</label></th>
        <td><textarea id="id_content" name="content" class="large">{{ item.content|escape }}</textarea></td>
      </tr>

      <tr>
        <th><label for="id_type">Type:</label></th>
        <td>
          <select id="id_type" name="type">
            <option selected="selected" value="">Select...</option>
{% for type in types %}
            <option value="{{ type|escape }}"{% ifequal type item.type %} selected="selected"{% endifequal %}>{{ type|escape }}</option>
{% endfor %}
          </select>
        </td>
      </tr>

      <tr>
        <th><label for="id_label_raw">Label:</label></th>
        <td><input type="text" id="id_label_raw" name="label_raw" value="{{ item.label_raw|escape }}" /></td>
      </tr>

      <tr>
        <th><label>Attributes:</label></th>
        <td>
          <input type="checkbox" id="id_index_entry" name="index_entry" value="on"{% if item %}{% if item|has:"index-entry" %} checked="checked"{% endif %}{% else %} checked="checked"{% endif %} />
          <label for="id_index_entry">Is in Section's Index (index.html, urlset.xml, etc)?</label>
          <br />
          <input type="checkbox" id="id_has_comments" name="has_comments" value="on"{% if item %}{% if item|has:"has-comments" %} checked="checked"{% endif %}{% else %} checked="checked"{% endif %} />
          <label for="id_has_comments">Has Comments?</label>
          <br />
          <input type="checkbox" id="id_comments_open" name="comments_open" value="on"{% if item %}{% if item|has:"comments-open" %} checked="checked"{% endif %}{% else %} checked="checked"{% endif %} />
          <label for="id_comments_open">Are Comments Open?</label>
        </td>
      </tr>

    </tbody>
  </table>
  <input type="submit"/>
</form>

{% endblock %}
