{% extends "wrapper.html" %}

{% block content %}

<h2>Page List</h2>

{% include 'section-filter.fhtml' %}

{% if pages.count %}

<p>There are {{ pages.count|escape }} pages{% if section %} in '<strong>{{ section.path|escape }}</strong>'{% endif %}.</p>

<table class="list striped">
  <thead>
    <tr>
      <th class="thin">Edit</th>
      <th>Section</th>
      <th>Title</th>
      <th class="thin">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for page in pages %}
    <tr>
      <td class="c">
        <a href="edit.html?key={{ page.key|urlencode }}"><img title="Edit Page" src="/s/i/layout_edit.png" /></a>
      </td>
      <td>
        {{ page.section.path|escape }}
      </td>
      <td>
        <a href="edit.html?key={{ page.key|urlencode }}">{{ page.title|escape }}</a>
      </td>
      <td class="c">
        <a href="/admin/page/del.html?key={{ page.key|urlencode }}"><img title="Delete Page" src="/s/i/cancel.png" /></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<p>There are no pages{% if section %} in '<strong>{{ section.path|escape }}</strong>'{% endif %}.</p>

{% endif %}

{% endblock %}
