{% extends "wrapper.html" %}

{% block content %}

<h2>Section List</h2>

<p>There {{ sections|length|pluralize:"is,are" }} {{ more|yesno:"more than," }} {{ section_count|escape }} section{{ sections|length|pluralize }}.</p>

<table class="list striped">
  <thead>
    <tr>
      <th class="thin">Actions</th>
      <th class="thin">Edit</th>
      <th class="thin">List Pages</th>
      <th>Path</th>
      <th>Title</th>
      <th>Layout</th>
      <th class="thin">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for section in sections %}
    <tr>
      <td class="c">
        <a href="/admin/page/new.html?section={{ section.key|urlencode }}"><img title="New Post" src="/s/i/add.png" /></a>
      </td>
      <td class="c">
        <a href="edit.html?key={{ section.key|urlencode }}"><img title="Edit Section" src="/s/i/layout_edit.png" /></a>
      </td>
      <td class="c">
        <a href="../page/?section={{ section.key|urlencode }}"><img title="List Pages" src="/s/i/application_view_list.png" /></a>
      </td>
      <td>{{ section.path|escape }}</td>
      <td><a href="edit.html?key={{ section.key|urlencode }}">{{ section.title|escape }}</a></td>
      <td>{{ section.layout|escape }}</td>
      <td class="c">
        <a href="/admin/section/del.html?key={{ section.key|urlencode }}"><img title="Delete Section" src="/s/i/cancel.png" /></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
