{% extends "wrapper.html" %}

{% block content %}

{% if item %}
<h2>Edit {{type}}</h2>
{% else %}
<h2>New {{type}}</h2>
{% endif %}

<p><a href=".">&laquo;&laquo; Back to Section List</a></p>

{% include 'msg.html' %}

<form method="post" action="">
{% if item %}
  <input type="hidden" name="key" value="{{ item.key|urlencode }}">
{% endif %}

  <table class="edit">
    <tbody>

      <tr>
        <th><label for="id_name">Path:</label></th>
        <td><input type="text" id="id_path" name="path" value="{{ item.path|escape }}" /></td>
      </tr>

      <tr>
        <th><label for="id_title">Title:</label></th>
        <td><input type="text" id="id_title" name="title" value="{{ item.title|escape }}"/></td>
      </tr>

      <tr>
        <th><label for="id_description">Description:</label></th>
        <td><textarea id="id_description" name="description" class="content">{{ item.description|escape }}</textarea></td>
      </tr>

      {% include 'input-type.fhtml' %}

      <tr>
        <th><label for="id_layout">Layout:</label></th>
        <td>
          <select id="id_layout" name="layout">
            <option selected="selected" value="">Select...</option>
{% for layout in layouts %}
            <option value="{{ layout|escape }}"{% ifequal layout item.layout %} selected="selected"{% endifequal %}>{{ layout|escape }}</option>
{% endfor %}
          </select>
        </td>
      </tr>

      <tr>
        <th><label>Attributes:</label></th>
        <td>
          <input type="checkbox" id="id_index_entry" name="sitemap_entry" value="on"{% if item %}{% if item|has:"sitemap-entry" %} checked="checked"{% endif %}{% else %} checked="checked"{% endif %} />
          <label for="id_sitemap_entry">Is in Sitemap?</label>
          <br />
          <input type="checkbox" id="id_contact_form" name="contact_form" value="on"{% if item %}{% if item|has:"contact-form" %} checked="checked"{% endif %}{% else %} checked="checked"{% endif %} />
          <label for="id_contact_form">Has a Contact Form?</label>
          <br />
          <input type="checkbox" id="id_sitefeed" name="sitefeed" value="on"{% if item %}{% if item|has:"sitefeed" %} checked="checked"{% endif %}{% else %} checked="checked"{% endif %} />
          <label for="id_sitefeed">Has a Sitefeed?</label>
        </td>
      </tr>

    </tbody>
  </table>
  <input type="submit" value="Save Section" />
</form>

{% endblock %}
