{% extends "wrapper.html" %}

{% block content %}

<h2>Remove Section?</h2>

<p><a href=".">&laquo;&laquo; Back to Section List</a></p>

{% include 'msg.html' %}

<form method="post" action="">
  <input type="hidden" name="key" value="{{ item.key|urlencode }}">

  <table class="edit">
    <tbody>

      <tr>
        <th>Path:</th>
        <td>{{ item.path|escape }}</td>
      </tr>

      <tr>
        <th>Title:</th>
        <td>{{ item.title|escape }}</td>
      </tr>

      <tr>
        <th>Description:</th>
        <td>{{ item.description|escape }}</td>
      </tr>

      <tr>
        <th>Type:</th>
        <td>{{ item.type|escape }}</td>
      </tr>

      <tr>
        <th>Layout:</th>
        <td>{{ item.layout|escape }}</td>
      </tr>

      <tr>
        <th>Attribute:</th>
        <td>{{ item.attribute_raw|escape }}</td>
      </tr>

    </tbody>
  </table>
  <input type="submit" value="Delete" />
</form>

{% endblock %}
