<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ title|escape }} - Lollysite</title>
    <meta name="keywords" content="andrew chilton, andy chilton, app engine, python, chilts.org, lollysite" />
    <meta name="description" content="" />
    <link href="/s/css/reset.min.css" rel="stylesheet" type="text/css" />
    <link href="/s/css/text.min.css" rel="stylesheet" type="text/css" />
    <link href="/s/css/960.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/s/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/static/admin/ready.js"></script>
  </head>
  <body>

<!-- #wrap -->
<div id="wrap" class="container_12">

  <!-- #header -->
  <div id="header" class="grid_12">
    <div class="float-right">
      {% if user %}
      <strong>{{ user.nickname|escape }}</strong>
      |
      <a href="{{ url_logout|escape }}">Sign Out</a>
      {% else %}
      <a href="{{ url_login|escape }}">Sign In</a>
      {% endif %}
    </div>
    Welcome to <a href="http://www.chilts.org/project/lollysite/">Lollysite</a>.
  </div>
  <div class="clear"> </div>
  <!-- /#header -->

  <!-- #menu -->
  <div id="menu" class="grid_3">
    {% block menu %}
    <h1>Menu</h1>
    <ul>
      <li>
        <a href="/admin/property/">Property</a> (<a href="/admin/property/new.html">New</a>)
        <a href="/admin/help-property.html"><img src="/s/i/help.png" /></a>
      </li>
      <li>
        <a href="/admin/section/">Section</a> (<a href="/admin/section/new.html">New</a>)
        <a href="/admin/help-section.html"><img src="/s/i/help.png" /></a>
      </li>
      <li>Nodes
        <ul>
          <li>
            <a href="/admin/page/">Page</a> (<a href="/admin/page/new.html">New</a>)
            <a href="/admin/help-page.html"><img src="/s/i/help.png" /></a>
          </li>
          <li>
            <a href="/admin/recipe/">Recipe</a> (<a href="/admin/recipe/new.html">New</a>)
            <a href="/admin/help-recipe.html"><img src="/s/i/help.png" /></a>
          </li>
          <li>
            <a href="/admin/load/">Import</a>
            <a href="/admin/help-import.html"><img src="/s/i/help.png" /></a>
          </li>
        </ul>
      </li>
      <li>Assets
        <ul>
          <li>
            <a href="/admin/file/">File</a> (<a href="/admin/file/new.html">New</a>)
            <a href="/admin/help-file.html"><img src="/s/i/help.png" /></a>
          </li>
          <li>
            <a href="/admin/image/">Image</a> (<a href="/admin/image/new.html">New</a>)
            <a href="/admin/help-image.html"><img src="/s/i/help.png" /></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/admin/comment/">Comments</a>
        <a href="/admin/help-comment.html"><img src="/s/i/help.png" /></a>
      </li>
      <li>
        <a href="/admin/message/">Messages</a>
        <a href="/admin/help-message.html"><img src="/s/i/help.png" /></a>
      </li>
    </ul>
    <h1>Help</h1>
    <ul>
      <li><a href="/admin/help-index.html">Help Index &raquo;</a></li>
    </ul>
    {% endblock %}
  </div>
  <!-- /#menu -->
  <!-- #content -->
  <div id="content" class="grid_9">

    {% block content %}{% endblock %}

  </div>
  <!-- /#content -->
  <div class="clear"> </div>

  <!-- #footer -->
  <div id="footer" class="grid_12">
    Lollysite &copy; 2009 <a href="http://www.chilts.org/">chilts.org</a>
    |
    <a href="/admin/credits.html">Credits</a>
  </div>
  <div class="clear"> </div>
  <!-- /#footer -->

</div>
<!-- /#wrap -->

  </body>
</html>
