{% extends "wrapper.html" %}

{% block content %}

      <!-- begin featured-posts -->
      <div class="featured-img"> <a href="#"><img src="/s/discoverer/featured-img.jpg" alt="" /></a>
        <div class="text">
          <h2><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
          <p>Proin aliquam, orci nec scelerisque accumsan, nunc sem dignissim pede, nec malesuada sem ligula ac sapien. Etiam quis purus a libero lobortis viverra. Cum sociis natoque penatibus et magnis...</p>
        </div>
      </div>
      <!-- end featured-posts -->
      <!-- begin post -->
      <div class="post">
        <h2><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></h2>
        <a href="#"><img src="/s/discoverer/thumb01.jpg" alt="" /></a>
        <p>Nullam ut eros. Praesent pellentesque. Sed lacinia suscipit sem. Proin lobortis risus ornare diam. Nulla libero. Duis egestas elementum risus. Aliquam gravida lectus non mauris placerat sollicitudin.</p>
        <p>Duis egestas elementum risus. Aliquam gravida lectus non mauris placerat sollicitudin.</p>
        <p><a href="#">Continue Reading</a></p>
      </div>
      <!-- end post -->
      <!-- begin post -->
      <div class="post">
        <h2><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></h2>
        <a href="#"><img src="/s/discoverer/thumb02.jpg" alt="" /></a>
        <p>Nullam ut eros. Praesent pellentesque. Sed lacinia suscipit sem. Proin lobortis risus ornare diam. Nulla libero. Duis egestas elementum risus. Aliquam gravida lectus non mauris placerat sollicitudin.</p>
        <p>Duis egestas elementum risus. Aliquam gravida lectus non mauris placerat sollicitudin.</p>
        <p><a href="#">Continue Reading</a></p>
      </div>
      <!-- end post -->
      <!-- begin post -->
      <div class="post">
        <h2><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></h2>
        <a href="#"><img src="/s/discoverer/thumb01.jpg" alt="" /></a>
        <p>Nullam ut eros. Praesent pellentesque. Sed lacinia suscipit sem. Proin lobortis risus ornare diam. Nulla libero. Duis egestas elementum risus. Aliquam gravida lectus non mauris placerat sollicitudin.</p>
        <p>Duis egestas elementum risus. Aliquam gravida lectus non mauris placerat sollicitudin.</p>
        <p><a href="#">Continue Reading</a></p>
      </div>
      <!-- end post -->
      <div class="navigation"> <a href="#">Previous</a> <a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">Next</a> </div>

{% endblock %}
