{% extends "wrapper.html" %}

{% block content %}
    <h1>{{ section.title|escape }} - {{ "Title"|cfg|escape }}</h1>
    <p>{{ section.description_html }}</p>

    {% for node in section|latest:10 %}
    <h1><a href="./{{ node.name|escape }}.html">{{ node.title|escape }}</a></h1>
      {% include 'node.frag' %}
    {% endfor %}
{% endblock %}

{% block mainmenu %}
  {% ifnotequal section.path '/' %}
  <li class="active"><a href="{{ section.path|escape }}">{{ section.title|escape }}</a></li>
  <ul>
    <li>
      Archive
      <ul>
        {% for archive in section.archive_json %}
            <li><a href="./archive:{{ archive.archive }}.html">{{ archive.archive|escape }}</a> ({{ archive.count|escape }})</li>
        {% endfor %}
      </ul>
    </li>
    <li>
      Labels
      <ul>
        {% for label in section.label_json %}
            <li><a href="./label:{{ label.label|escape }}.html">{{ label.label|escape }}</a> ({{ label.count|escape }})</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <li><a href="/">&laquo; Home</a></li>
  {% endifnotequal %}
{% endblock %}
