{% extends "wrapper.html" %}

{% block content %}
    <h1>{{ section.title|escape }} - {{ "Title"|cfg|escape }}</h1>
    <p>{{ section.description_html }}</p>

  {% if section|has:"in-index" %}
  <p>Is in Index</p>
  {% endif %}
  {% if section|has:"has-contact-form" %}
  <p>Has contact form</p>
  {% endif %}

    {% for node in section|latest:10 %}
    <h1><a href="./{{ node.name|escape }}.html">{{ node.title|escape }}</a></h1>
      {% include 'node.frag' %}
    {% endfor %}
{% endblock %}

{% block title %}{{ section.title|escape }}{% endblock %}
