{% extends "wrapper.html" %}

{% block content %}
  <h1>{{ section.title|escape }} - {{ "Title"|cfg|escape }}</h1>
  <p>{{ section.description|escape }}</p>

  <h2>Contents</h2>
  <ul>
  {% for node in section|all %}
    <li>{{ node.title|escape }}</li>
  {% endfor %}
  </ul>

  {% for node in section|all %}
    <h2><a href="./{{ node.name|escape }}.html">{{ node.title|escape }}</a></h2>
    {% include 'node-skel.frag' %}
  {% endfor %}

{% endblock %}

{% block title %}{{ section.title|escape }}{% endblock %}
