{% extends "wrapper.html" %}

{% block content %}
    <h1>Entries for label: {{label|escape}}</h1>
    <p>
        Found {{nodes.count|escape}} entries.
    </p>

    {% for node in nodes %}

        <h2><a href="./{{ node.name|escape }}.html">{{ node.title|escape }}</a></h2>

        <ul>
          <li>kind={{ node.kind|escape }}</li>
          <li>class_key={{ node.class_key|escape }}</li>
          <li>class_name={{ node.class_name|escape }}</li>
        </ul>

        {% ifequal node.class_name 'Page' %}
            {{ node.content_html }}
        {% endifequal %}
        {% ifequal node.class_name 'Image' %}
            <p class="c"><img src="/node/image/{{ node.filename|escape }}" /></p>
            {% if node.caption %}
            <p>{{ node.caption|escape }}</p>
            {% endif %}
            {% if node.credit %}
                {% if node.credit_link %}
            <p>Credit: <a href="{{ node.credit_link|escape }}">{{ node.credit|escape }}</a></p>
                {% else %}
            <p>Credit: {{ node.credit|escape }}</p>
                {% endif %}
            {% endif %}
        {% endifequal %}

        <p class="date">Inserted: {{ node.inserted|escape }}</p>
        <p>
            Labels:
        {% for label in node.label %}
            <a href="./label:{{ label|urlencode }}.html">{{ label|escape }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        </p>

    {% endfor %}
{% endblock %}

{% block title %}{{ section.title|escape }} index{% endblock %}
