{% extends "wrapper.html" %}

{% block content %}
    <h1>Entries for label: {{label|escape}}</h1>
    <p>
        Found {{nodes.count|escape}} entries.
    </p>

    {% for node in nodes %}

        <h2><a href="./{{ node.name|escape }}.html">{{ node.title|escape }}</a></h2>

        <ul>
          <li>kind={{ node.kind|escape }}</li>
          <li>class_key={{ node.class_key|escape }}</li>
          <li>class_name={{ node.class_name|escape }}</li>
        </ul>

        {% ifequal node.class_name 'Page' %}
            {{ node.content_html }}
        {% endifequal %}
        {% ifequal node.class_name 'Image' %}
            <p><src img="/node/image/{{ node.filename|escape }}" /></a></p>
            <p>Caption / Credit</p>
            <p><a href="/node/image/{{ node.filename|escape }}">Link to image</a></p>
        {% endifequal %}

        <p class="date">Inserted: {{ node.inserted|escape }}</p>
        <p>
            Labels:
        {% for label in node.label %}
            <a href="./label:{{ label|urlencode }}.html">{{ label|escape }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        </p>

    {% endfor %}
{% endblock %}

{% block title %}{{ section.title|escape }} index{% endblock %}
