<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
    Design by Free CSS Templates
    http://www.freecsstemplates.org
    Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{{ section.title|escape }}{% endblock %} - chilts.org</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/verticals/verticals.js"></script>
    <link href="/static/verticals/style.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.{{ "Naked Domain"|cfg|escape }}{{ section.path|escape }}rss20.xml" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ "Google Analytics Tracking Code"|cfg|escape }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    </script>
  </head>

  <body>
    <div id="wrapper">
	  <div id="logo">
		<h1><a href="/">{{ "Title"|cfg|escape }}</a></h1>
		<h2>{{ "Sub Title"|cfg|escape }}</h2>
	  </div>

	  <div id="sidebar">
		<div id="menu">
		  <ul>
            {% ifequal section.path '/' %}
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/photo/">Photos</a></li>
            <li><a href="/recipe/">Recipes</a></li>
            <li><a href="/wiki/">Wiki</a></li>
<!--
            <li><a href="/retire-at-40/">Retire at 40</a></li>
            <li><a href="/simplicity/">Simplicity</a></li>
            <li><a href="/simple-starters/">Simple Starters</a></li>
-->
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
            {% endifequal %}
            {% block mainmenu %}<li>MainMenu Block not overridden.</li>{% endblock %}
		  </ul>
		</div>
        <!-- -#menu- -->

		<div id="sites" class="boxed">
          {% ifnotequal section.path '/' %}
		  <h2 class="title">Other sections:</h2>
		  <div class="content">
			<ul>
			  <li><a href="/blog/">Blog</a></li>
			  <li><a href="/photo/">Photos</a></li>
			  <li><a href="/recipe/">Recipes</a></li>
			  <li><a href="/wiki/">Wiki</a></li>
			</ul>
		  </div>
          {% endifnotequal %}
		  <h2 class="title">Find me at:</h2>
		  <div class="content">
			<ul>
              <li><a href="http://www.gitorious.org/~andychilton">Gitorious</a></li>
              <li><a href="http://www.github.com/andychilton/">GitHub</a></li>
              <li><a href="http://ohloh.net/accounts/andychilton">Ohloh</a></li>
              <li><a href="http://identi.ca/andychilton">Identica</a></li>
              <li><a href="http://www.flickr.com/photos/andychilton/">Flickr</a></li>
              <li><a href="http://twitter.com/andychilton">Twitter</a></li>
              <li><a href="http://www.facebook.com/andychilton">FaceBook</a></li>
              <li><a href="http://www.linkedin.com/in/achilton">LinkedIn</a></li>
			</ul>
		  </div>
		</div>
        <!-- -#sites- -->

		<div class="extra">&nbsp;</div>
	  </div>
      <!-- -#sidebar- -->

	  <div id="content">
		<div id="welcome" class="boxed">

    {% block content %}{% endblock %}

		</div>
	  </div>
      <!-- -#content- -->
    </div>
    <!-- -#wrapper- -->

    <div id="footer">
	  <p id="legal">
        &copy; 2009 chilts.org
        |
        Created with <a href="http://www.chilts.org/project/lollysite/">LollySite</a>
      </p>
	  <p id="links">
        <a href="/privacy-policy.html">Privacy Policy</a>
        |
        <a href="/terms-of-use.html">Terms of Use</a>
        |
        Original Design: <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
      </p>
    </div>
    <!-- -#footer- -->
  </body>
</html>
